{
    "extends": ["react-app", "eslint:recommended"],
    "rules": {
        "no-unused-vars": ["error", { "varsIgnorePattern": "Config|[IT][a-zA-Z]", "args": "none" }],
        "no-multi-spaces": "off",
        "no-unused-expressions": "off",
        "import/prefer-default-export": "off",
        "import/no-commonjs": "off",
        "import/no-named-as-default-member": "off",
        "no-empty": "off",
        "no-unreachable": "off",
        "react/jsx-indent-props": ["error", 4],
        "react/no-unused-state": "warn",

        "no-console": "off",
        "getter-return": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-sparse-arrays": "error",
        "use-isnan": "error",
        "eqeqeq": "warn",
        "no-alert": "error",
        "no-empty-pattern": "warn",
        "no-eval": "error",
        "no-global-assign": "warn",
        "no-redeclare": "error",
        "no-return-await": "error",
        "require-await": "error",
        "camelcase": "error",
        "jsx-quotes": ["warn", "prefer-single"],
        "no-var": "error",
        "no-extra-semi": "error",
        "max-lines": ["error", 1000],
        "indent": ["error", 4],
        "no-with": "error",
        "no-new-func": "error",
        "no-array-constructor": "error",
        "no-new-wrappers": "error",
        "no-new-object": "error",
        "no-labels": "error",
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "space-in-parens": ["error", "never"],
        "switch-colon-spacing": "error",
        "padding-line-between-statements": ["warn", {
            "blankLine": "any",
            "prev": ["const", "let", "var"],
            "next": "*"
        }, {
            "blankLine": "any",
            "prev": ["const", "let", "var"],
            "next": ["const", "let", "var"]
        }],
        "array-bracket-spacing": ["error", "never"],
        "key-spacing": ["error", { "mode": "minimum" }],
        "keyword-spacing": "error",
        "object-curly-spacing": ["error", "always"],
        "computed-property-spacing": ["warn", "never"],
        "semi-spacing": ["warn", { "before": false, "after": true }],
        "semi": ["error", "always"],
        "quotes": ["error", "single"],
        "no-multiple-empty-lines": "error",
        "brace-style": ["error", "stroustrup"],
        "block-spacing": ["error", "always"],
        "no-shadow": "off",

        "jsx-a11y/anchor-is-valid": "off",
        "react/no-find-dom-node": "error",
        "react/no-typos": "error",
        "react/no-this-in-sfc": "error",
        "react/jsx-closing-bracket-location": ["error", {
            "selfClosing": "line-aligned",
            "nonEmpty": "after-props"
        }],
        "react/jsx-max-props-per-line": ["error", { "maximum": 6, "when": "always" }],
        "react/jsx-props-no-multi-spaces": "error",
        "react/jsx-wrap-multilines": ["error", {
            "declaration": "parens-new-line",
            "assignment": "parens-new-line",
            "arrow": "parens",
            "return": "parens-new-line",
            "logical": "ignore",
            "prop": "ignore",
            "condition": "ignore"
        }],
        "react/jsx-tag-spacing": "error",
        "react/jsx-closing-tag-location": "error",
        "react/jsx-boolean-value": ["error", "always"],
        "react/jsx-equals-spacing": ["error", "never"],
        "react/jsx-key": "warn",
        "react/forbid-elements": ["warn", {
            "forbid": ["br", "hr", "font", "center", "dir", "tt"]
        }],
        "react/no-unknown-property": "warn",
        "react/style-prop-object": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/no-direct-mutation-state": "error"
    }
}
